---
import { LIST, WHY_CARDS, INFO } from "@/lib/constants";
import Card from "@/components/ui/Card.astro";
import Check from "@/icons/Check.astro";
---

<section
  class="flex flex-col items-center gap-16 mb-12 w-full max-w-11/12 2xl:max-w-9/12 mx-auto"
>
  <div data-reveal="left" class="flex flex-col gap-4 items-center">
    <h2 class="text-4xl sm:text-5xl font-bold tracking-wide">
      ¿Por qué <br /><span class="gradient-text">Visura UI?</span>
    </h2>
    <p
      class="text-base sm:text-lg text-gray-400 font-medium max-w-3xl text-center"
    >
      Una biblioteca pensada para desarrolladores que buscan componentes
      técnicos, escalables y listos para proyectos modernos de cualquier tipo.
    </p>
  </div>
  <div
    data-reveal-stagger
    class="flex w-full flex-wrap xl:flex-nowrap items-center gap-8 2xl:gap-12"
  >
    {
      WHY_CARDS.map((card) => (
        <span data-reveal-child={card.reveal}>
          <Card {...card} />
        </span>
      ))
    }
  </div>
  <aside class="flex sm:flex-row flex-col gap-8 sm:gap-0 items-center w-full">
    <div class="flex flex-col gap-6 w-full sm:w-1/2">
      <h3 class="text-xl font-bold gradient-text">
        Todo lo que necesitas para tu próximo proyecto
      </h3>
      <ul data-reveal-stagger class="flex flex-col gap-4">
        {
          LIST.map((item) => (
            <li data-reveal-child="left" class="flex items-center gap-3">
              <Check class="size-6 text-light-blue" />
              <span class="text-gray-400 font-medium">{item}</span>
            </li>
          ))
        }
      </ul>
    </div>
    <div
      data-reveal-stagger
      class="flex items-center flex-wrap justify-center text-center gap-6 w-full sm:w-1/2"
    >
      {
        INFO.map((item) => (
          <article
            data-reveal-child={item.reveal}
            class="flex flex-col gap-2 bg-special p-10 rounded-xl border-1 border-white/10 hover:-translate-y-2 hover:border-white/40 transition"
          >
            <h3 class={`text-4xl font-bold ${item.color}`}>
              {item.prefix}
              {item.target}
            </h3>
            <span class="text-gray-400 font-medium">{item.title}</span>
          </article>
        ))
      }
    </div>
  </aside>
</section>
