---
import Layout from "@/layouts/Layout.astro";
import DocHeader from "@/components/ui/DocHeader.astro";
import { SideBar } from "@/components/ui/SideBar.tsx";
import Tag from "@/components/ui/Tag.astro";
import Zap from "@/icons/Zap.astro";
import DocSection from "@/components/ui/DocSection.astro";
import OpenBook from "@/icons/OpenBook.astro";
import { documentation } from "@/docs/documentation";
import Check from "@/icons/Check.astro";

const { introduction } = documentation;
---

<Layout>
  <main class="flex flex-col gap-4 w-full">
    <div class="flex items-start">
      <SideBar client:load />
      <DocHeader />
    </div>
    <div class="flex flex-col items-center gap-24 ml-[448px] pl-8 pr-24 mt-8">
      <header class="flex flex-col gap-8 items-center">
        <Tag
          icon={Zap}
          label="VisuraUI - Libreria de Componentes TailwindCSS"
          className="shadow-complete border-light-blue/40 bg-light-blue/10 w-fit"
        />
        <h1
          class="gradient-text text-2xl sm:text-4xl xl:text-5xl text-center font-bold"
        >
          Construye interfaces <br /> modernas con VisuraUI
        </h1>
        <p class="text-gray-400 text-center text-lg md:text-xl max-w-3xl">
          La biblioteca de componentes pensada para desarrolladores que no
          quieren comprometer entre <b class="text-light-blue font-semibold"
            >diseño, funcionalidad y escalabilidad</b
          >.
        </p>
      </header>
      {/* Introducción */}
      <DocSection
        icon={OpenBook}
        title={introduction.title}
        borderColor="hover:border-light-blue"
        bgColor="bg-light-blue/10"
        textColor="text-light-blue"
      >
        <p class="text-gray-300 md:text-lg">
          {introduction.paragraph}
        </p>
        <ul class="flex items-center gap-4">
          {
            introduction.adventages.map((advantage) => (
              <li>
                <span class="flex items-center gap-2 text-lg font-semibold">
                  <Check class="size-5 text-green-500" />
                  {advantage.title}
                </span>
                <p class="text-gray-300 text-sm">{advantage.text}</p>
              </li>
            ))
          }
        </ul>
        <div class="flex items-center gap-2">
          {
            introduction.tags.map((tag) => (
              <span class="w-fit bg-neutral-800 px-4 py-1 rounded-full text-xs">
                {tag}
              </span>
            ))
          }
        </div>
      </DocSection>
    </div>
  </main>
</Layout>
