---
// Componentes
import Layout from "@/layouts/Layout.astro";
import DocHeader from "@/components/ui/DocHeader.astro";
import { SideBar } from "@/components/ui/SideBar.tsx";
import Tag from "@/components/ui/Tag.astro";
import DocSection from "@/components/ui/DocSection.astro";
import Button from "@/components/ui/Button.astro";

//Iconos
import Zap from "@/icons/Zap.astro";
import OpenBook from "@/icons/OpenBook.astro";
import Check from "@/icons/Check.astro";
import File from "@/icons/File.astro";
import Copy from "@/icons/Copy.astro";
import Download from "@/icons/Download.astro";

import { documentation } from "@/docs/documentation";
import Link from "@/icons/Link.astro";

const { introduction, whyVisuraui, instalation } = documentation;
---

<Layout>
  <main class="flex flex-col gap-4 w-full mb-12">
    <div class="flex
    items-start">
      <SideBar client:load />
      <DocHeader />
    </div>
    <div class="flex flex-col items-center gap-24 ml-[448px] pl-8 pr-24 mt-8">
      <header class="flex flex-col gap-8 items-center">
        <Tag
          icon={Zap}
          label="VisuraUI - Libreria de Componentes TailwindCSS"
          className="shadow-complete border-light-blue/40 bg-light-blue/10 w-fit"
        />
        <h1
          class="gradient-text text-2xl sm:text-4xl xl:text-5xl text-center font-bold"
        >
          Construye interfaces <br /> modernas con VisuraUI
        </h1>
        <p class="text-gray-400 text-center text-lg md:text-xl max-w-3xl">
          La biblioteca de componentes pensada para desarrolladores que no
          quieren comprometer entre <b class="text-light-blue font-semibold"
            >diseño, funcionalidad y escalabilidad</b
          >.
        </p>
      </header>
      <!-- Introducción -->
      <DocSection
        icon={OpenBook}
        title={introduction.title}
        borderColor="hover:border-light-blue"
        bgColor="bg-light-blue/10"
        textColor="text-light-blue"
      >
        <p class="text-gray-300 md:text-lg">
          {introduction.paragraph}
        </p>
        <ul class="flex items-center gap-4">
          {
            introduction.adventages.map((advantage) => (
              <li>
                <span class="flex items-center gap-2 text-lg font-semibold">
                  <Check class="size-5 text-green-500" />
                  {advantage.title}
                </span>
                <p class="text-gray-300 text-sm">{advantage.text}</p>
              </li>
            ))
          }
        </ul>
        <div class="flex items-center gap-2">
          {
            introduction.tags.map((tag) => (
              <span class="w-fit bg-slate-800 px-4 py-1 rounded-full text-xs">
                {tag}
              </span>
            ))
          }
        </div>
      </DocSection>
      <!-- Porque -->
      <DocSection
        icon={File}
        title={whyVisuraui.title}
        borderColor="hover:border-purple-400"
        bgColor="bg-purple-400/10"
        textColor="text-purple-400"
      >
        <ul class="flex items-center gap-8">
          {
            whyVisuraui.itemList.map(
              ({ title, text, icon: Icon, bgColor, textColor }) => (
                <li class="flex flex-col gap-2">
                  <Icon
                    class={`size-11 p-2 rounded-lg ${bgColor} ${textColor}`}
                  />
                  <h4 class="text-lg font-semibold">{title}</h4>
                  <p class="text-gray-300 text-sm">{text}</p>
                </li>
              )
            )
          }
        </ul>
        <hr class="w-full border-gray-500/20" />
        <span class="text-gray-400 text-center [font-style:italic]"
          >"VisuraUI no es solo código - es la diferencia entre un producto que
          funciona y uno que <strong class="text-purple-400">destaca</strong
          >."</span
        >
      </DocSection>
      <!-- Instalaccion -->
      <DocSection
        icon={Download}
        title={instalation.title}
        borderColor="hover:border-green-500"
        bgColor="bg-green-500/10"
        textColor="text-green-500"
      >
        <h3 class="text-lg font-semibold">{instalation.requirementsTitle}</h3>
        <ul class="flex items-center gap-12 flex-wrap">
          {
            instalation.requirements.map((req) => (
              <li class="flex items-center gap-4">
                <Check class="size-5 text-green-500" />
                <span class="text-gray-300 text-sm max-w-md">{req}</span>
              </li>
            ))
          }
        </ul>
        <h3 class="text-lg font-semibold">{instalation.stepsTitle}</h3>
        <ol class="flex flex-col gap-6">
          {
            instalation.steps.map(({ number, text, command }) => (
              <li class="flex items-center gap-6">
                <span class="flex items-center justify-center size-10 rounded-full bg-blue-500/10 text-blue-500 text-xl font-semibold">
                  {number}
                </span>
                <div class="flex flex-col gap-4 w-full">
                  <span class="font-medium">{text}</span>
                  <span class="flex items-center justify-between w-full text-sm text-green-500 font-mono group">
                    {command}
                    <Copy class="size-9 p-2 rounded-lg cursor-pointer hover:bg-green-500/10 transition-all invisible opacity-0 group-hover:visible group-hover:opacity-100" />
                  </span>
                </div>
              </li>
            ))
          }
        </ol>
        <hr class="w-full border-gray-500/20" />
        <span class="text-gray-400 text-sm"
          >¿Necesitas ayuda con la instalación?. Estamos aquí para ayudarte.</span
        >
        <div class="flex items-center gap-4">
          <Button href="#" label="Guia Detallada" type="filled" icon={Link} />
          <Button
            href="mailto:orlandodev1707@gmail.com"
            label="Contactanos"
            type="outlined"
          />
        </div>
      </DocSection>
    </div>
  </main></Layout
>
